
  .btn__success {
    background: #5CB85F;
    border-radius: 2px;
    padding: 8px 12px;
    border: none;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
    color: #FFFFFF;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
  }
  
  .btn__menu {
    border: none;
    background-color: transparent;
  }
  

  